
<div class="container">
  <nav>
    <a routerLink="setupcompetition">Setup</a>
    <a routerLink="event">Events</a>
    <a routerLink="nomination">Nominations</a>
    <a routerLink="squads">Squads</a>
    <a routerLink="officerecords">Office Records</a>
    <a routerLink="squadsheets">Squad Sheets</a>
    <a routerLink="squadcards">Squad Cards</a>
    <a routerLink="financials">Financials</a>
    <a routerLink="scoreboard">Scoreboard</a>
    <a routerLink="presentationlists">Presentation Lists</a>
    <a routerLink="prizecalculator">Prize Calculator</a>
  </nav>
  <router-outlet></router-outlet>
</div>
